header {
    background:lightcoral; 
    color:white;
    padding: 8px;
}
body{
    background:whitesmoke;
    padding-top: 20px;
}
button{
    background:lightcoral;
    border: solid 0;
    color: #fff;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.contenedor{
    background:rgb(131, 167, 201);
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
